#app .menu_left-item {
	margin-left: 2%;
}

.menu_right-item {
	margin-right: 5em;
}

.headers_container {
	margin-top: 7.5em;
	margin-bottom: 1.5em;
}

.ui.header .sub_header {
	margin-top: 0.5em !important;
}

#app .create_column {
	padding: 6.5em;
}

#app .join_column {
	padding: 5em;
}

.acordion_container {
	margin-top: 3.5em;
}

#app .spacer {
	min-width: 20px;
}

/**** CARDS ****/

.cards-container {
	margin-top: 3rem;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
}

.card_container {
	position: relative;
	width: 155px;
	height: 200px;
	perspective: 150rem;
	margin: 1rem;
}

.card {
	display: flex;
	width: 155px;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
	overflow: hidden;
	background-color: #fff;
	flex-direction: column;
	border-radius: 5px;
	transition: all 0.8s;
}

.card.voted {
	box-shadow: 0 10px 10px 10px rgba(22, 120, 194, 0.3);
}

.card_back {
	background-color: #1678c2;
	color: #fff;
	transform: rotateY(180deg);
}

.card_header {
	flex: 0 0 10%;
	margin-left: 0.5rem;
}

.card_content {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex: 0 0 80%;
	align-self: center;
	font-size: 2rem;
	border: 1.5px solid #edf2f7;
	border-radius: 3px;
}

.card_content .hide-vote {
	display: none;
}

.card_content .show-vote {
	display: block;
}

.card_footer {
	flex: 0 0 10%;
	margin-right: 0.5rem;
	align-self: flex-end;
	transform: rotate(180deg);
}

.rotate_container .card_front {
	transform: rotateY(-180deg);
}

.rotate_container .card_back {
	transform: rotateY(0deg);
}

/**** Main Room ****/

#app .grid_row {
	margin-top: 3rem;
	padding-bottom: 15rem;
}

#app .main_segment {
	background-color: #edf2f7;
	margin-top: 4rem;
}

#app .mainRoom_container {
	margin-top: 3em;
}

#app .mainRoom_side-header {
	background-color: #1678c2;
	color: #fff;
	font-size: 1.5rem;
}

#app .timer_container {
	display: flex;
	align-content: center;
	font-size: 1.5rem;
	justify-content: space-between;
}

#app .player_vote {
	margin-left: 5%;
}

#app .ui.header .icon:only-child {
	padding: 5px;
}

#app .story_input {
	margin-left: 1rem !important;
	margin-right: 0 !important;
}

#app .story_btn {
	margin-left: 0rem !important;
	margin-right: 0 !important;
}

#app .story_title {
	margin-left: 1rem;
}

/*** VOTE ROOM ***/

#app .vote_segment {
	background-color: #edf2f7;
}

.scrum_container {
	padding: 0% 15% 10% 15%;
	background-color: #edf2f7;
	justify-content: space-evenly;
	margin-top: 0rem;
}

.scrum_card.selected {
	box-shadow: 0 10px 10px 10px rgba(22, 120, 194, 0.3);
}

.vote_story {
	padding: 6rem 0rem 3rem 0rem;
	background-color: #edf2f7;
	text-align: center;
}

/*** QR ***/

#app .code_segment {
	background-color: #1678c2;
	color: #fff;
	font-size: 1.5rem;
}

#app .id_header {
	margin-left: 25%;
	margin-top: -1rem;
}

/*** Chart ***/

.result_grid {
	margin-top: 4rem;
}

/*** Media querys ***/

@media only screen and (max-width: 480px) {
	.cards-container {
		justify-content: center;
	}

	.card_container {
		height: 140px;
		width: 100px;
		margin: 5px;
	}

	.card {
		height: 140px;
		width: 100px;
	}

	.card-container {
		justify-content: space-evenly;
	}

	.scrum_container {
		padding: 0;
		padding-top: 1rem;
	}

	.card_header {
		margin: 0;
		font-size: 0.8rem;
	}

	.card_content-small {
		font-size: 1.4rem;
	}

	.card_footer {
		margin: 0;
		font-size: 0.8rem;
		transform-origin: center;
		transform: translateY(-0.5rem) rotate(180deg);
	}

	.vote_story {
		padding-bottom: 0.5rem;
		padding-top: 5rem;
	}

	.ui.relaxed.grid > .row > .column {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.hide_divider {
		display: none;
	}

	.headers_container {
		margin-top: 5.5em;
	}
}
